/* CONTENT SECTIONS */
.content-section {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.content-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #0052cc;
}

.content-section p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Highlight Box */
.highlight-box {
    background: #eef4ff;
    padding: 25px;
    border-left: 5px solid #0052cc;
    margin-top: 30px;
}

/* Contact */
.contact-details p {
    font-size: 16px;
    margin-bottom: 8px;
}
